<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <title>Alta de cuenta de usuario interno</title>
</head>

<body>
  <section class="pdf-page letter">
    <div class="pdf-background"
      style="background-image:url('../views/img/formats/alta-usuario-interno/page-1.png');">
    </div>
    <div class="pdf-overlay">
      <!-- agrega aquí los campos de la página 1 -->
    </div>
  </section>

  <section class="pdf-page letter">
    <div class="pdf-background"
      style="background-image:url('../views/img/formats/alta-usuario-interno/');">
    </div>
    <div class="pdf-overlay">
      <!-- agrega aquí los campos de la página 2 -->
    </div>
  </section>
</body>

</html>