<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <title>Generar PDF</title>
  <link rel="stylesheet" href="css/styles.css" />
  <link href="https://framework-gb.cdn.gob.mx/gm/v3/assets/styles/main.css" rel="stylesheet">
  <link href="https://framework-gb.cdn.gob.mx/gm/v3/assets/images/favicon.ico" rel="shortcut icon">
</head>

<body>
  <main class="page">
    <div class="container">
      <!-- coloca este bloque si falta en tu HTML -->
      <section class="form-wrapper">
        <div class="header-main">
          <h1 class="title-centered">Generar Formato ABC</h1>
          <div id="fecha-container" class="date-display-big"></div>
        </div>
        
        <label for="templateSelect">Plantilla</label>
        <select id="templateSelect">
          <option value="">Cargando…</option>
        </select>

        <div id="fieldsContainer"></div>

        <button id="btnGenerar" disabled>Generar PDF</button>
        <div id="msg"></div>
      </section>

      <!-- Formulario dinámico para plantillas -->

    </div>
  </main>

  <!-- Scripts -->
  <script src="https://framework-gb.cdn.gob.mx/gm/v3/assets/js/gobmx.js"></script>

  <!-- Papa Parse para leer CSV -->
  <script src="https://cdn.jsdelivr.net/npm/papaparse@5.4.1/papaparse.min.js"></script>

  <script src="js/app.js"></script>
  <!-- Snackbar (superpuesto tipo MUI) -->
  <div id="snackbar" class="snackbar" role="status" aria-live="polite" aria-atomic="true"></div>
</body>

</html>